<!DOCTYPE html>
<html lang="en">




<body class="position-relative">



  <div class="container">



    <form name="myForm" action="/addstudent" method="POST">

      <h2 class="text-center">Add Student</h2>


      <div class="container">
        <div class="row">
          <div class="col">

            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="studId">
                <label for="studId">StudentID</label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="class">
                <label for="class">Class</label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="fName">
                <label for="fName">Firstname</label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="mName">
                <label for="mName">MiddleName</label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="lName">
                <label for="lName">LastName</label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="fatherName">
                <label for="fatherName">Father's Name</label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="motherName">
                <label for="motherName">Mother's Name</label>
              </div>
            </div>
            <div class="row mb-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>SEX</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="mTongue">
                <label for="mTongue">Mother Tongue</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-floating">
                <input type="date" class="form-control" id="dob">
                <label for="dob">Date Of Birth</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="weight">
                <label for="weight">Weight</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="height">
                <label for="height">Height</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="ecno">
                <label for="ecno">Emergency Contect No</label>
              </div>
            </div>
            <div class="row mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="rel">
                <label for="rel">Religion</label>
              </div>
              <div class="row mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="caste">
                  <label for="caste">Caste</label>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-floating">
                  <input type="email" class="form-control" id="emailid">
                  <label for="emailid">EmailID</label>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="aadhar">
                  <label for="aadhar">Aadhar Number</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row"><input type="submit" class="btn btn-primary" value="submit" /></div>

    </form>
  </div>


  <footer class="position-absolute bottom-0 start-0 end-0 bg-danger bg-gradient">
    <div class="container">
      <div class="row">
        <h2>footer</h2>
      </div>
    </div>

  </footer>
</body>

</html>