<!DOCTYPE html>
<html lang="en">

 



<body>  


  <div>
    
    <div class="container pt-5">
      <div class="row align-items-center">
        <div class="col-md-10 offset-md-1">
        <div class="container p-5 my-5 bg-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      
        






<% if(locals.err_msg) { %>
  <div class=" w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show" role="alert"><%= err_msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
  <% } %> 
 
  


<form name="myForm" action="/stafflogin" method="POST">

  <b><h1>STAFF LOGIN</h1></b><br>
  

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">USER ID</label>
    <input type="text" class="form-control" id="userid" name="userid" placeholder="User ID">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">PASSWORD</label>
    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
  </div>



  <button class="btn btn-info" type="submit">LOGIN</button> <br><br>




</form>
</div></div></div></div></div>

</body>
</html>
