
   
    <div class="container pt-5 my-5 bg-white">
        <div class="row align-items-center">
          <div class="col-md-10 offset-md-1">
            
             
  
  
  
  
  
  
  
            <% if(locals.success.length>0) { %>
              <div class="w-75 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
                  role="alert">
                  <%= success %>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
    
            <% if(locals.error.length>0) { %>
              <div
                class=" w-75 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
                role="alert">
                <%= error %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
  
  
                  <center>
  
                    <form name="myForm" action="/staff/addnewstudent" method="POST">
  
                      <b>
                        <h1 style="font-family: 'Times New Roman', Times, serif;">ADD NEW STUDENT</h1>
                      </b><br>
  
  
  
  
                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="text" class="form-control" name="stud_id" id="stud_id" placeholder="Student ID">
                          <label for="stud_id">Student ID</label>
                        </div>
                      </div>
            
            

                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="date" class="form-control" name="dob" id="dob" placeholder="Date Of Birth">
                          <label for="dob">Date Of Birth *</label>
                        </div>
                      </div>

                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email ID">
                          <label for="Email">Email ID</label>
                        </div>
                      </div>
    
                      <div class="mb-3">
                        <div class="form-floating w-75 p-2">
                          <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Set Password">
                          <label for="pwd">Set Password</label>
                        </div>
                      </div>


  
  
  
                      <button class="btn btn-info"  type="submit">SUBMIT</button> <br><br>
  
  
  
  
                    </form>
                  </center>
  
          </div>
        </div>
      </div>