<!-- <!DOCTYPE html>
<html lang="en">




<body>  

  <div>
    
    <div class="container pt-5">

      <div class="row align-items-center">
      <div class="col-md-10 offset-md-1">
      <div class="container p-5 my-5 bg-white text-dark">


<form name="myForm" action="/addstaff" method="POST">

  <b><h1>ADD STAFF</h1></b><br>

<label>STAFF ID</label><br>
<input type="text" id="staffid" name="staffid" placeholder="Staff ID" />
<h6 id='demo'></h6>

<label>FIRST NAME</label><br>
<input type="text" id="fname" name="fname" placeholder="First Name"  />
<h6 id='demo1'></h6>

<label>MIDDLE NAME</label><br>
<input type="text" id="mname" name="mname" placeholder="Middle Name"  />
<h6 id='demo2'></h6>

<label>LAST NAME</label><br>
<input type="text" id="lname" name="lname" placeholder="Last Name"  />
<h6 id='demo3'></h6>

<label>FATHER NAME</label><br>
<input type="text" id="father_name" name="father_name" placeholder="Father Name"  />
<h6 id='demo4'></h6>

<label>MOTHER NAME</label><br>
<input type="text" id="mother_name" name="mother_name" placeholder="Mother Name"  />
<h6 id='demo5'></h6>

<label>DATE OF BIRTH</label><br>
<input type="date" id="dob" name="dob"/>
<h6 id='demo6'></h6>

<label>SEX:</label><br>
<select name="sex" id="sex" name="sex">
    <option value="Male">MALE</option>
    <option value="Female">FEMALE</option>
    <option value="Others">OTHERS</option>
</select><br>

<label>MARTIAL STATUS:</label><br>
<select name="martial_status" id="martial_status" name="martial_status">
    <option value="Married">MARRIED</option>
    <option value="Unmarried">UNMARRIED</option>
    <option value="Widow">WIDOW</option>
</select><br>

<label>JOINING DATE</label><br>
<input type="date" id="jdate" name="jdate"/>
<h6 id='demo7'></h6>


<label>QUALIFICATON</label><br>
<input type="text" id="qualification" name="qualification" placeholder="qualification"  />
<h6 id='demo8'></h6>

<label>STAFF TYPE:</label><br>
<select name="staff_type" id="staff_type" name="staff_type">
    <option value="Teaching">TEACHING</option>
    <option value="Non-Teaching">NON-TEACHING</option>
</select><br>

<label>STAFF ACCOUNT NUMBER</label><br>
<input type="text" id="saccno" name="saccno" placeholder="Staff Account Number"  />
<h6 id='demo9'></h6>

<label>BLOOD GROUP</label><br>
<input type="text" id="bgroup" name="bgroup" placeholder="Blood Group"  />
<h6 id='demo10'></h6>

<label>EMAIL ID</label><br>
<input type="email" id="email" name="email" placeholder="hello@example.com"  />
<h6 id='demo11'></h6>

<label>PHONE NUMBER</label><br>
<input type="text" id="phno" name="phno" placeholder="Phone Number"  />
<h6 id='demo12'></h6>

<label>EMERGENCY CONTACT NUMBER</label><br>
<input type="text" id="emcno" name="emcno" placeholder="Emergency Contact Number"  />
<h6 id='demo13'></h6>

<label>BASIC PAY</label><br>
<input type="number" id="bpay" name="bpay" placeholder="Basic Pay"  />
<h6 id='demo14'></h6>

<label>PRE INSTITUTE NAME</label><br>
<input type="text" id="piname" name="piname" placeholder="Pre Institute Name"  />
<h6 id='demo12'></h6>

<label>PASSWORD</label><br>
<input type="password" id="pwd" name="pwd" placeholder="Pre Institute Name"  />
<h6 id='demo13'></h6>

<input type="submit" class="btn btn-primary" value="REGISTER" /> <br><br>




</form>
</div></div></div></div></div>

</body>


</html> -->









<!DOCTYPE html>
<html lang="en">




<body>

  <% if(locals.success) { %>
    <div
      class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-success alert-dismissible fade show"
      role="alert">
      <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

      <% if(locals.err_msg) { %>
        <div
          class=" w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
          role="alert">
          <%= err_msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

          <div class="container bg-light text-dark">


            <form name="myForm" action="/addstaff" method="POST">

              <h2 class="text-center" style="font-family: 'Times New Roman', Times, serif;">Add Staff</h2>

              <div class="row g-2">


                <div class="col-lg-6">
                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="staffid" id="staffid" placeholder="Staff ID">
                      <label for="staffid">Staff ID</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <select class="form-select" aria-label="Default select example" id="role" name="role">
                        <option selected>Select</option>
                        <option value="admin">Admin</option>
                        <option value="staff">Staff</option>
                      </select>
                      <label for="role">Role</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating  w-75 p-2">
                      <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name">
                      <label for="fname">First Name</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating  w-75 p-2">
                      <input type="text" class="form-control" name="mname" id="mname" placeholder="Middle Name">
                      <label for="mname">Middle Name</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating  w-75 p-2">
                      <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name">
                      <label for="lname">Last Name</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating  w-75 p-2">
                      <input type="text" class="form-control" name="father_name" id="father_name"
                        placeholder="Father Name">
                      <label for="father_name">Father's Name</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="mother_name" id="mother_name"
                        placeholder="Mother Name">
                      <label for="mother_name">Mother's Name</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="date" class="form-control" name="dob" id="dob" placeholder="Date Of Birth">
                      <label for="dob">Date Of Birth</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <select class="form-select" aria-label="Default select example" id="sex" name="sex">
                        <option selected>Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                      </select>
                      <label for="sex">Sex</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <select class="form-select" aria-label="Default select example" id="martial_status"
                        name="martial_status">
                        <option selected>Select</option>
                        <option value="married">Married</option>
                        <option value="unmarried">Unmarried</option>
                        <option value="widow">Widow</option>
                      </select>
                      <label for="martial_status">Martial Status</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="date" class="form-control" name="jdate" id="jdate" placeholder="Joining Date">
                      <label for="jdate">Joining Date</label>
                    </div>
                  </div>





                </div>

                <div class="col-lg-6">

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="qualification" id="qualification"
                        placeholder="Qualification">
                      <label for="qualification">Qualification</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="aadhar" id="aadhar" placeholder="Aadhar Number">
                      <label for="aadhar">Aadhar Number</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <select class="form-select" aria-label="Default select example" id="staff_type" name="staff_type">
                        <option selected>Select</option>
                        <option value="teaching">Teaching</option>
                        <option value="non-teaching">Non-Teaching</option>
                      </select>
                      <label for="staff_type">Staff Type</label>
                    </div>
                  </div>



                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="saccno" id="saccno" placeholder="Account Number">
                      <label for="saccno">Account Number</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="bgroup" id="bgroup" placeholder="Blood Group">
                      <label for="bgroup">Blood Group</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Email ID">
                      <label for="email">Email ID</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="phno" id="phno" placeholder="Phone Number">
                      <label for="phno">Phone Number</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="emcno" id="emcno"
                        placeholder="Emergency Contact No">
                      <label for="emcno">Emergency Contact No</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="bpay" id="bpay" placeholder="Basic Pay">
                      <label for="bpay">Basic Pay</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="text" class="form-control" name="piname" id="piname"
                        placeholder="Pre Institute Name">
                      <label for="piname">Pre Institute Name</label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <div class="form-floating w-75 p-2">
                      <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Set Password">
                      <label for="pwd">Set Password</label>
                    </div>
                  </div>


                </div>

              </div>
              <center>
                <div class="mb-3 align-center">
                  <div class="form-floating">
                    <input type="submit" class="btn btn-primary align-center" value="submit" />
                  </div>
                </div>
              </center>

            </form>

          </div>







          <!-- <div class="container-flex foot">
    <footer class="position-relative bottom-0 start-0 end-0 bg-danger bg-gradient">

      <h2>footer</h2>


    </footer>
  </div> -->

</body>

</html>