<!DOCTYPE html>
<html lang="en">




<body>  

  <div>
    
    <div class="container pt-5">

      <div class="row align-items-center">
      <div class="col-md-10 offset-md-1">
      <div class="container p-5 my-5 bg-dark text-white">


<form name="myForm" action="/addstudent" method="POST">

  <b><h1>ADD STUDENT</h1></b><br>

<label>STUDENT ID</label><br>
<input type="text" id="studid" name="studid" placeholder="Student ID" />
<h6 id='demo'></h6>

<label>CLASS</label><br>
<input type="text" id="class" name="class" placeholder="Class"  />
<h6 id='demo1'></h6>

<label>FIRST NAME</label><br>
<input type="text" id="fname" name="fname" placeholder="First Name"  />
<h6 id='demo2'></h6>

<label>MIDDLE NAME</label><br>
<input type="text" id="mname" name="mname" placeholder="Middle Name"  />
<h6 id='demo3'></h6>

<label>LAST NAME</label><br>
<input type="text" id="lname" name="lname" placeholder="Last Name"  />
<h6 id='demo4'></h6>

<label>FATHER NAME</label><br>
<input type="text" id="father_name" name="father_name" placeholder="Father Name"  />
<h6 id='demo5'></h6>

<label>MOTHER NAME</label><br>
<input type="text" id="mother_name" name="mother_name" placeholder="Mother Name"  />
<h6 id='demo6'></h6>

<label>DATE OF BIRTH</label><br>
<input type="date" id="dob" name="dob"/>
<h6 id='demo7'></h6>

<label>WEIGHT</label><br>
<input type="number" id="weight" name="weight" placeholder="Weight"  />
<h6 id='demo8'></h6>

<label>HEIGHT</label><br>
<input type="number" id="height" name="height" placeholder="Height"  />
<h6 id='demo9'></h6>

<label>EMERGENCY CONTACT NUMBER</label><br>
<input type="text" id="ecn" name="ecn" placeholder="Emergency Contact"  />
<h6 id='demo10'></h6>

<label>RELIGION:</label><br>
<select name="religion" id="religion" name="religion">
    <option value="Hindu">HINDU</option>
    <option value="Muslim">MUSLIM</option>
    <option value="Christian">CHRISTIAN</option>
    <option value="Others">Others</option>
</select><br>


<label>CASTE:</label><br>
<select name="caste" id="caste" name="caste">
    <option value="BC">BC</option>
    <option value="MBC">MBC</option>
    <option value="OBC">OBC</option>
    <option value="SC/ST">SC/ST</option>
</select><br>

<label>MOTHER TONGUE</label><br>
<input type="text" id="mtongue" name="mtongue" placeholder="Mother Tongue"/>
<h6 id='demo11'></h6>

<label>AADHAR NUMBER</label><br>
<input type="text" id="ano" name="ano" placeholder="Aadhar Number"/>
<h6 id='demo12'></h6>

<label>SEX:</label><br>
<select name="sex" id="sex" name="sex">
    <option value="Male">MALE</option>
    <option value="Female">FEMALE</option>
    <option value="Others">OTHERS</option>
</select><br>

<label>EMAIL</label><br>
<input type="email" id="email" name="Email" placeholder="hello@example.com"  />
<h6 id='demo13'></h6>


<input type="submit" class="btn btn-primary" value="REGISTER" /> <br><br>




</form>
</div></div></div></div></div>
<footer>
  <p>Bharat Matric hr.sec school<br>
  <a href="mailto:hege@example.com">bharatmatric@gmail.com</a></p>
</footer>
</body>
</html>
