<!DOCTYPE html>
<html lang="en">




<body>  

  <div>
    
    <div class="container pt-5">

      <div class="row align-items-center">
      <div class="col-md-10 offset-md-1">
      <div class="container p-5 my-5 bg-dark text-white">


<form name="myForm" action="/addstaff" method="POST">

  <b><h1>ADD STAFF</h1></b><br>

<label>STAFF ID</label><br>
<input type="text" id="staffid" name="staffid" placeholder="Staff ID" />
<h6 id='demo'></h6>

<label>FIRST NAME</label><br>
<input type="text" id="fname" name="fname" placeholder="First Name"  />
<h6 id='demo1'></h6>

<label>MIDDLE NAME</label><br>
<input type="text" id="mname" name="mname" placeholder="Middle Name"  />
<h6 id='demo2'></h6>

<label>LAST NAME</label><br>
<input type="text" id="lname" name="lname" placeholder="Last Name"  />
<h6 id='demo3'></h6>

<label>FATHER NAME</label><br>
<input type="text" id="father_name" name="father_name" placeholder="Father Name"  />
<h6 id='demo4'></h6>

<label>MOTHER NAME</label><br>
<input type="text" id="mother_name" name="mother_name" placeholder="Mother Name"  />
<h6 id='demo5'></h6>

<label>DATE OF BIRTH</label><br>
<input type="date" id="dob" name="dob"/>
<h6 id='demo6'></h6>

<label>SEX:</label><br>
<select name="sex" id="sex" name="sex">
    <option value="Male">MALE</option>
    <option value="Female">FEMALE</option>
    <option value="Others">OTHERS</option>
</select><br>

<label>MARTIAL STATUS:</label><br>
<select name="martial_status" id="martial_status" name="martial_status">
    <option value="Married">MARRIED</option>
    <option value="Unmarried">UNMARRIED</option>
    <option value="Widow">WIDOW</option>
</select><br>

<label>JOINING DATE</label><br>
<input type="date" id="jdate" name="jdate"/>
<h6 id='demo7'></h6>


<label>QUALIFICATON</label><br>
<input type="text" id="qualification" name="qualification" placeholder="qualification"  />
<h6 id='demo8'></h6>

<label>STAFF TYPE:</label><br>
<select name="staff_type" id="staff_type" name="staff_type">
    <option value="Teaching">TEACHING</option>
    <option value="Non-Teaching">NON-TEACHING</option>
</select><br>

<label>STAFF ACCOUNT NUMBER</label><br>
<input type="text" id="saccno" name="saccno" placeholder="Staff Account Number"  />
<h6 id='demo9'></h6>

<label>BLOOD GROUP</label><br>
<input type="text" id="bgroup" name="bgroup" placeholder="Blood Group"  />
<h6 id='demo10'></h6>

<label>EMAIL ID</label><br>
<input type="email" id="email" name="email" placeholder="hello@example.com"  />
<h6 id='demo11'></h6>

<label>PHONE NUMBER</label><br>
<input type="text" id="phno" name="phno" placeholder="Phone Number"  />
<h6 id='demo12'></h6>

<label>EMERGENCY CONTACT NUMBER</label><br>
<input type="text" id="emcno" name="emcno" placeholder="Emergency Contact Number"  />
<h6 id='demo13'></h6>

<label>BASIC PAY</label><br>
<input type="number" id="bpay" name="bpay" placeholder="Basic Pay"  />
<h6 id='demo14'></h6>

<label>PRE INSTITUTE NAME</label><br>
<input type="text" id="piname" name="piname" placeholder="Pre Institute Name"  />
<h6 id='demo12'></h6>



<input type="submit" class="btn btn-primary" value="REGISTER" /> <br><br>




</form>
</div></div></div></div></div>
<footer>
  <p>Bharat Matric hr.sec school<br>
  <a href="mailto:hege@example.com">bharatmatric@gmail.com</a></p>
</footer>
</body>
</html>
