<!DOCTYPE html>
<html lang="en">



<body>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <h4 style="font-family: 'Times New Roman', Times, serif;" class="text-primary">Homepage</h4>

    </div>
  </nav>
  <marquee>SCHOOL MESSAGES GOES HERE</marquee>
  <div>

    <div class="container pt-5">

      <center>
        <h1 class="text-success" style="font-family: 'Times New Roman', Times, serif;">Bharat Matric Hr.sec School</h1>
      </center>
      <div class="row align-items-center">

        <div class="col-md-10 offset-md-1">
          <div class="container p-5 my-5 bg-white">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            <center>
              <form name="myForm" action="/" method="POST">
                <h4 style="font-family: 'Times New Roman', Times, serif;">Please Choose the login type</h4>
                <br><br>


                <button class="btn btn-outline-primary btn-sm"><a href="/staff/stafflogin">Staff Login</a></button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-outline-primary btn-sm"><a href="/student/studentlogin">Student
                    Login</a></button>
                <br><br><br>
              </form>


            </center>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom d-flex justify-content-center bg-dark">
    <footer class="py-1 bottom">

      <p class="text-success">Bharat Matric hr.sec school<br>
        Contact No : +917822780123<br>
        <a href="mailto:hege@example.com">bharatmatric@gmail.com</a>
      </p>

    </footer>
  </div>
</body>

</html>