<!DOCTYPE html>
<html lang="en">



<body>  
<!--
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <div>
   
    <div class="container pt-5"> <center>   <h1>HOMEPAGE</h1>  </center>
      <div class="row align-items-center">
        <div class="col-md-10 offset-md-1">
        <div class="container p-5 my-5 bg-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      
   <center>   
         <form name="myForm" action="/" method="POST">
<h4 style="font-family: 'Times New Roman', Times, serif;">Please Choose the login type</h4>
<br><br>


<button class="btn btn-outline-primary btn-sm" ><a href="/stafflogin">Staff Login</a></button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-outline-primary btn-sm" ><a href="/studentlogin">Student Login</a></button>
<br><br><br></form>


</center>


</div></div></div></div></div>

<footer>
  <p>Bharat Matric hr.sec school<br>
  <a href="mailto:hege@example.com">bharatmatric@gmail.com</a></p>
</footer>
</body>
</html>
