
  <nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
      <h4 style="font-family: 'Times New Roman', Times, serif;" class="text-white">School Name</h4>
      
    </div>

  </nav>
  <marquee class="blink_me">SCHOOL MESSAGES GOES HERE</marquee>
 
  <div>

    <div class="container pt-5 my-5 bg-white">

      <center>
        <h1 class="text-success" style="font-family: 'Times New Roman', Times, serif;">Homepage</h1>
      </center>
      <div class="row align-items-center">

        <div class="col-md-10 offset-md-1">
    
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            <center>
              <form name="myForm" action="/" method="POST">
                <h4 style="font-family: 'Times New Roman', Times, serif;">Please Choose the login type</h4>
                <br><br>


                <a href="/staff/stafflogin" class="btn btn-outline-primary btn-sm" role="button">Staff Login</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/student/studentlogin" class="btn btn-outline-primary btn-sm" role="button">Student Login</a>
                <br><br><br>
              </form>


            </center>


          
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom d-flex justify-content-center bg-dark">
    <footer class="py-1 bottom">

      <p class="text-success">&copy; School Name<br>
      </p>

    </footer>
  </div>

<!-- Animations -->

  <script>
    (function blink() {
   $('.blink_me').fadeOut(300).fadeIn(300, blink);
   $('.blink_me').css('color', 'red');
   $('.href').css('color', 'white');
 })();
  </script>