<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/validation.js" type="text/javascript"></script>
    <title>Form Validation</title>
</head>


<body>  

  <div>
    
    <div class="container pt-5">

      <div class="row align-items-center">
      <div class="col-md-10 offset-md-1">
      <div class="container p-5 my-5 bg-dark">


<form name="myForm" onsubmit="myFunc(event)" method="POST">

  <b><h1>SIGN UP</h1></b><br>

<label>USERID</label><br>
<input type="text" id="userid" name="userid" placeholder="UserID" />
<h6 id='demo'></h6>


<label>PASSWORD</label><br>
<input type="password" id="pwd" name="pwd" placeholder="Password"  />
<h6 id='demo1'></h6>



<input type="submit"  value="SIGN UP" /> <br><br>




</form>
</div></div></div></div></div>
</body>
</html>
