<!DOCTYPE html>
<html lang="en">




<body>
  <!-- 
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Link</a>
          </li>
        </ul>
      </div>
  </nav> -->

  <div>

    <div class="container pt-5">
      <div class="row align-items-center">
        <div class="col-md-10 offset-md-1">
          <div class="container p-3 my-5 bg-secondary">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;








            <% if(locals.err_msg) { %>
              <div
                class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
                role="alert">
                <%= err_msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>


                <center>

                  <form name="myForm" action="/studentlogin" method="POST">

                    <b>
                      <h1 style="font-family: 'Times New Roman', Times, serif;">STUDENT LOGIN</h1>
                    </b><br>



                    <div class="mb-3">
                      <div class="form-floating w-50 p-2">
                        <input type="text" class="form-control" name="userid" id="userid" placeholder="Student ID">
                        <label for="userid">Student ID</label>
                      </div>
                    </div>


                    <div class="mb-3">
                      <div class="form-floating w-50 p-2">
                        <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password">
                        <label for="pwd">Password</label>
                      </div>
                    </div>




                    <button class="btn btn-info" type="submit">LOGIN</button> <br><br>




                  </form>
                </center>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>