
    <div class="container pt-5 my-5 bg-white">
      <div class="row align-items-center">
        <div class="col-md-10 offset-md-1">
          
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% if(locals.err_msg) { %>
              <div
                class="w-50 p-3 container d-flex align-items-center justify-content-center alert alert-danger alert-dismissible fade show"
                role="alert">
                <%= err_msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <% } %>
                <center>
                  <form name="myForm" action="/student/studentlogin" method="POST">

                    <b>
                      <h1 style="font-family: 'Times New Roman', Times, serif;">STUDENT LOGIN</h1>
                    </b><br>



                    <div class="mb-3">
                      <div class="form-floating w-50 p-2">
                        <input type="text" class="form-control" name="userid" id="userid" placeholder="Student ID">
                        <label for="userid">Student ID</label>
                      </div>
                    </div>


                    <div class="mb-3">
                      <div class="form-floating w-50 p-2">
                        <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password">
                        <label for="pwd">Password</label>
                      </div>
                    </div>




                    <button class="btn btn-info" type="submit">LOGIN</button> <br><br>




                  </form>
                </center>
         
        </div>
      </div>
    </div>
